/* Los estilos se aplican a todo el documento */
body {
    
    background-image: linear-gradient(135deg, rgba(114, 104, 104, 0.315), rgba(114, 104, 104, 0.315)),
                      url('../assets/Images/fondoododo.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: preconnect;
}

.Sobre {
    background: linear-gradient(0deg, rgba(37, 35, 58, 0.900), rgba(37, 35, 58, 0.900));
    max-width: 1000px;
    margin: auto;
    border-radius: 1.5cap;
    border-style:  dotted;
    border-color: rgb(226, 76, 0);

}

.profile {
   
    display: block; 
    
    
    margin-left: auto;
    margin-right: auto;
    

    
    
}




.Social-icon {

    width: 50px;
    border-radius: 10cap;
}

.profile {
    
    width: 200px;
    border-radius: 5cap;
    color: #f36060;
    background: linear-gradient(
        to bottom, 
        #ffc300 0%,    
        #ff5733 50%,  
        #c70039 100%    
    );

    
    box-shadow: 0 0 20px rgba(255, 100, 0, 0.8),
                0 0 40px rgba(255, 50, 0, 0.5);
    b
}



.honk-uniquifier {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  
}

.icon {
    font-size: 50px;
    cursor: pointer



}


.network{
    list-style: none;
    min-height: 60px;

}

.network li{

    float: left;
    margin: 0 90px;
}

.blank{


}

li{
   
}